.imp1{
    height: 35px;
    width: 280px;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.gris {
	background-color:#e6e6e6;
}

.foto{
	height:40px;
	width:40px;
	margin: 2px;
	float: left;
	margin: 10px;
}

.caja{
 	border:1px solid gray;
}

.estado{
	color:#999999;
	text-align: center;
	}

.nombres{
	color:#606060;
	text-align: center;
}

.scroll{
	overflow: scroll;
}