.imp1{
    height: 35px;
    width: 280px;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.gris {
	background-color:#e6e6e6;
}

.foto{
	height:70px;
	width:70px;
	margin: 2px;
	float: left;
	margin: 10px;
}

.caja{
 	border:1px solid gray;
 	padding: 4%;
}

.estado{
	color:#999999;
	text-align: center;
	}

.nombres{
	color:#606060;
	text-align: center;
}

.scroll{
	overflow: scroll;
}
.fondo{
	background-image: url(../image/chat-panel-bg.png);
	
}

.burbuja{
	background-color: white;
	padding: 0.5%;
	max-width: 100%;
	box-shadow:1px 1px 1px 1px gray;
	border-bottom: 1px solid gray;
	border-radius: 7%;
	margin-bottom: 4%;
}

.burbuja2{
	background-color:#bbd559;
	padding: 2%;
	max-width: 80%;
	margin-left: 35%;
	box-shadow:1px 1px 1px 1px gray;
	border-bottom: 1px solid gray;
	border-radius: 7%;
	margin-bottom: 4%;
}

.parra{
	text-align: left;
}

.hora{
	text-align: right;
}

.andrea{
	color: #66ffff;
}

.mariana{
	color:#ff0080;
}

.maria{
	color:#00ae85;
}

.aldo{
	color:#ff8000;
}

.espacio{
	padding-bottom: 50%;
}

.abajo{
	margin-top: 95%;
}